<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Paso 2 - Cuasi Accidente</h4>
    </div><!-- end card header -->

    <div class="card-body">
        <!-- Nav tabs -->
        <ul class="nav nav-pills mb-3" role="tablist">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" data-bs-toggle="tab" href="#pill-justified-accidentado" role="tab">
                    Accidentado
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-medidas" role="tab">
                    Medidas Correctivas
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-finalizar" role="tab">
                    Finalizar
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="pill-justified-accidentado" role="tabpanel">
                <div class="row g-3">
                    <h6 class="mt-4">Información del accidentado</h6>
                    <hr class="mt-0 mb-1" />
                    <div class="col-lg-4">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">Empresa</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Selecciona...</option>
                                    <option value="1">Hidalgo Inversiones SpA</option>
                                    <option value="2">Sociedad Inversiones SpA</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Trabajador</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Selecciona...</option>
                                <option value="1">Cecilia Bolocco</option>
                                <option value="2">Jane Doe</option>
                                <option value="3">John Doe</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">RUT</label>
                            <input type="text" class="form-control"
                                   aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Cargo</label>
                            <input type="text" class="form-control"
                                   aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Centro de Trabajo</label>
                            <input type="text" class="form-control"
                                   aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>

                <div class="row g-3 mt-3">
                    <h6 class="mt-4">Información del accidente</h6>
                    <hr class="mt-0 mb-1" />
                    <div class="col-lg-4">
                        <div class="input-group">
                            <label class="input-group-text" for="inputGroupSelect01">Tipo Accidente</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Seleccionar Accidente</option>
                                <option value="1">Cecilia Bolocco</option>
                                <option value="2">Jane Doe</option>
                                <option value="3">John Doe</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-text">Fecha</span>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-text">Hora</span>
                            <input type="time" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <label for="medidasTextArea" class="form-label">
                                Descripción del cuasi accidente
                            </label>
                            <textarea class="form-control" id="medidasTextArea"
                                      rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <label for="lugarTextArea" class="form-label">
                                Lugar del cuasi accidente
                            </label>
                            <textarea class="form-control" id="lugarTextArea"
                                      rows="2"></textarea>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success">Grabar</button>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-investigacion" role="tabpanel">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div>
                                            <label for="FactoresOrgTextArea" class="form-label">
                                                Factores Organizacionales
                                            </label>
                                            <textarea class="form-control" id="FactoresOrgTextArea"
                                                      rows="13"></textarea>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col">
                                        <div>
                                            <label for="CausasBasicasTextArea" class="form-label">
                                                Causas Básicas
                                            </label>
                                            <textarea class="form-control" id="CausasBasicasTextArea"
                                                      rows="13"></textarea>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col">
                                        <div>
                                            <label for="CausasInmediatasTextArea" class="form-label">
                                                Causas Inmediatas
                                            </label>
                                            <textarea class="form-control" id="CausasInmediatasTextArea"
                                                      rows="13"></textarea>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col">
                                        <div>
                                            <div class="col-md-12 mb-2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label for="btnClasificacionAccidente" class="form-label">
                                                        Clasificación de Accidente
                                                    </label>

                                                    <button id="btnClasificacionAccidente" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clasificacion-accidente-modal">Buscar</button>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <textarea class="form-control" id="incidenteTextArea"
                                                          rows="3"></textarea>
                                            </div>

                                            <div>
                                                <label for="observacionIncidenteTextArea" class="form-label">
                                                    Observación
                                                </label>
                                                <textarea class="form-control" id="observacionIncidenteTextArea"
                                                          rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                    <div class="col">
                                        <div>
                                            <div class="col-12 mb-2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label for="btnTipoLesion" class="form-label">
                                                        Tipo de Lesión&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </label>

                                                    <button id="btnTipoLesion" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tipo-lesion-modal">Buscar</button>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <textarea class="form-control" id="lesionTextArea"
                                                          rows="3"></textarea>
                                            </div>

                                            <div>
                                                <label for="observacionLesionTextArea" class="form-label">
                                                    Observación
                                                </label>
                                                <textarea class="form-control" id="observacionLesionTextArea"
                                                          rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>
                            </div> <!-- end card body -->

                            <div class="card-footer">
                                <div class="text-end">
                                    <button id="agregarButton" class="btn btn-success">Agregar</button>
                                </div>
                            </div>
                        </div> <!-- end card -->
                    </div> <!-- end col -->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Resumen Investigación</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped-columns table-hover align-middle mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="w-25">Factores Organizacionales</th>
                                                <th scope="col" class="w-20">Causas Básicas</th>
                                                <th scope="col" class="w-15">Causas Inmediatas</th>
                                                <th scope="col" class="w-15">Tipo de incidente</th>
                                                <th scope="col" class="w-15">Tipo de lesión</th>
                                                <th scope="col" class="w-10">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Deficiencias en la organización preventiva de la empresa respecto a
                                                    los instrumentos de preverservación establecidos en la normativa.
                                                </td>
                                                <td>
                                                    El trabajador no es capacitado en uso de equipos y elementos de
                                                    protección personal.
                                                </td>
                                                <td>Piso en mal estado.</td>
                                                <td>
                                                    - Caídas de personas.<br>
                                                    - Obs: Se dobla ambos pies.
                                                </td>
                                                <td>
                                                    - Otra clase de lesiones.<br>
                                                    - Obs: Se dobla pie.
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger btn-sm"><i class="ri-delete-bin-5-line"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Diagrama</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div class="dropzone">
                                    <div class="fallback">
                                        <input name="file" type="file" multiple="multiple">
                                    </div>
                                    <div class="dz-message needsclick">
                                        <div class="mb-3">
                                            <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                        </div>

                                        <h4>Arraste y suelte aquí su diagrama.</h4>
                                    </div>
                                </div>

                                <ul class="list-unstyled mb-0" id="dropzone-preview">
                                    <li class="mt-2" id="dropzone-preview-list">
                                        <!-- This is used as the file preview template -->
                                        <div class="border rounded">
                                            <div class="d-flex p-2">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-sm bg-light rounded">
                                                        <img data-dz-thumbnail class="img-fluid rounded d-block" src="/assets/images/new-document.png" alt="Dropzone-Image" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="pt-1">
                                                        <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                        <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                                    </div>
                                                </div>
                                                <div class="flex-shrink-0 ms-3">
                                                    <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end dropzon-preview -->
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div> <!-- end col -->
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success">Grabar</button>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-medidas" role="tabpanel">
                <div class="row g-4">
                    <div class="col-xxl-12">
                        <div>
                            <label for="lugarTextArea" class="form-label">
                                Medidas correctivas
                            </label>
                            <textarea class="form-control" id="medidasTextArea"
                                      rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div>
                            <label for="lugarTextArea" class="form-label">
                                Responsable
                            </label>
                            <textarea class="form-control" id="lugarTextArea"
                                      rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-2">
                        <div>
                            <label for="fechaInicioMedidas" class="form-label">
                                Fecha Inicio
                            </label>
                            <input type="date" id="fechaInicioMedidas" class="form-control">
                        </div>
                    </div>
                    <div class="col-xxl-2">
                        <div>
                            <label for="fechaFinMedidas" class="form-label">
                                Fecha Fin
                            </label>
                            <input type="date" id="fechaFinMedidas" class="form-control">
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div>
                            <label class="form-label"
                                   for="docAdjuntos">Adjuntar Documentos</label>
                            <div id="docAdjuntos" class="card">
                                <div class="card-body">
                                    <input type="file"
                                           class="filepond filepond-input-multiple"
                                           multiple
                                           name="filepond"
                                           data-allow-reorder="true"
                                           data-max-file-size="3MB"
                                           data-max-files="4">
                                </div>
                                <!-- end card body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 mt-0">
                        <div>
                            <label for="medidasObservaciones" class="form-label">
                                Observaciones
                            </label>
                            <textarea class="form-control" id="medidasObservaciones"
                                      rows="1"></textarea>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end my-3">
                        <button class="btn btn-success">Agregar</button>
                    </div>
                </div>
                <hr class="my-2">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Resumen Medidas Correctivas</h4>
                            </div><!-- end card header -->

                            <div class="card-body">

                                <div class="live-preview">
                                    <div class="table-responsive">
                                        <table class="table table-striped-columns table-hover table-nowrap align-middle mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Responsable</th>
                                                    <th scope="col">Fecha Inicio</th>
                                                    <th scope="col">Fecha Fin</th>
                                                    <th scope="col">Medidas correctivas</th>
                                                    <th scope="col">Doc. Adjuntos</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Pedro Pascal Flores</td>
                                                    <td>20-07-2023</td>
                                                    <td>04-08-2023</td>
                                                    <td>Arreglar escalera</td>
                                                    <td>imagen.pdf</td>
                                                    <td>
                                                        <select class="form-select" id="inputGroupSelect01">
                                                            <option selected value="enProceso">En proceso</option>
                                                            <option value="Finalizado">Finalizado</option>
                                                            <option disabled value="FueraPlazo">Fuera de plazo</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm"><i class="ri-delete-bin-5-line"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" id="sa-warning-medidas-grabar">Grabar</button>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-finalizar" role="tabpanel">
                <div class="d-flex justify-content-around align-items-center">
                    <button class="btn btn-danger">Cerrar Informe</button>
                    <button class="btn btn-success">Ver PDF</button>
                </div>
            </div>
        </div>
    </div><!-- end card-body -->
</div><!-- end card -->